*{
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%)    ;
}
.container{
    background-color: white;
    min-height: 50vh;
    width: 90%;
    max-width: 333px;
    border-radius: 14px;
    border: 1.5px solid black;
    box-shadow: 5px 5px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    
}
.card{    
    padding: 0px;
    align-self: center;
    margin-top: 8px;    
    width: 90%;
}
.image{
    display: block;
    height: auto;
    width: 100%;
    border-radius: 14px;
}
.margin-left{
    margin-left: 18px;
}
.label{
    background-color: hsl(47, 88%, 63%) ;
    width: fit-content;
    font-weight: 800;
    font-size: 15px;
    padding: 5px;
}    
.date{
    font-weight: 800;
    font-size: 15px;
}

.content h1{
    font-size: 24px;
    margin-bottom: 12px;
    
}
.content h1:hover{
    background-color: hsl(47, 88%, 63%) ;
    width: fit-content;
    transition: ease-in-out;
    transition-duration: 0.3s;
    cursor: pointer;

}
.content p{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile-picture{

    height: auto;
    width: 15%;
}
.profile-picture img{
    height: auto;
    width: 100%;    
}
.profile-name{
    font-weight: 800;
    margin-left: 10px;
}